<!DOCTYPE html>
<html>
   <head>
      <link href="http://alfredoferreira.eu/cw/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://alfredoferreira.eu/cw/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="http://alfredoferreira.eu/cw/css/theme.css" rel="stylesheet">
      <meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
      <meta name="Francisco" content="CW Project">
      <title>CW project</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	  <script src="project.js"></script>
	  <script> language="javascript"
	  		   function check(form){
			   			if(form.username.value == "Francisco" && form.password.value == "Pereira"){
							window.open('NextPage.html','_self');
						}else{
							  alert("Invalid Password or username");
						}
				}							 
	  </script>
	  <script src="app.js"></script>
	  <script src="//code.angularjs.org/1.4.0/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
							  


   </head>
   <body>
   <span class="container" ng-app="app" ng-controller="MainCtrl as main">
   <table style="width:30%; margin: 0px auto;">
     <tr>
	 <td>
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="page-header">
               <table style="width:100%" >
                                <tr>
                                      <td style="width:50%; text-align: center;"><img src="C:\Users\freal\Documents\SISE2015\WC\c-web_proj\logo.jpg" style="width:158px;height:128px;"></td>
                                      <td style="width:50%"><div class="page-header"><h1 style="font-family:isoct; color:black; text-align: center;" ><b>InSure MEDApp</b></h1></div></td>
                                </tr>
                     </table>
            </div>

         </div>
         <div class="panel-body">
		  <form name="userForm" novalidate style="display:table; margin:0px auto; width:60%;">
    
              <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                <label>Username</label>
                <input type="text" name="Username" class="form-control" 
                  ng-model="main.name"
                  ng-minlength="5"
                  ng-maxlength="10"
                  required>
        
                <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                  <p ng-message="minlength">Your name is too short.</p>
                  <p ng-message="maxlength">Your name is too long.</p>
                  <p ng-message="required">Your name is required.</p>
                </div>
              </div>
    
              <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                <label>Password</label>
                <input type="email" name="Password" class="form-control" 
                  ng-model="main.email"
                  ng-minlength="5"
                  ng-maxlength="20"
                  required>
        
              <div class="help-block" ng-messages="userForm.Password.$error" ng-if="userForm.Password.$touched">
                <div ng-messages-include="messages.html"></div>
              </div>
              
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-danger">Log in</button>
    </div>
    
  </form>

					
         		<div>
                 <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="clickabla" style="display:table; margin: 0px auto;"><a href="#">Forgot your Password?</a></li>
                  </ul>
      			</div>
        </div>
		</td>
		</tr>
		</table>
		</span>
   </body>
</html>


