<!DOCTYPE html>
<html lang="en" ng-app="prjApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico">
    <title>SISE-CWEB</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="http://alfredoferreira.eu/cw/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://alfredoferreira.eu/cw/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://alfredoferreira.eu/cw/css/theme.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/js/bl.js"></script>
    <script src="/js/app.js"></script>
    <style type="text/css">
      .fixed-panel {
      height: 10 pts
      overflow-y: scroll;}
    </style>
    <style type="text/css">
      .fixed-panel {
      min-height: 1 pts;
      max-height: 1 pts;
      overflow-y: scroll;}
    </style>
    <style type="text/css">
      .fixed-panel1 {
      min-height: 10 pts;
      max-height: 10 pts;
      overflow-y: scroll;}
    </style>
  </head>
  <body  ng-controller="MainCtrl">
	<div ng-show="showFirstPage">
    <table style="width:30%; margin: 0px auto;">
      <tr>
        <td>
          <div class="panel panel-default">
          <div class="panel-heading">
            <div class="page-header">
              <table style="width:100%" >
                <tr>
                  <td style="width:50%; text-align: center;"><img src="logo.jpg" style="width:158px;height:128px;"></td>
                  <td style="width:50%">
                    <div class="page-header">
                      <h1 style="font-family:isoct; color:black; text-align: center;" ><b>InSure MEDApp</b></h1>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="panel-body">
            <form id="signinForm" style="display:table; margin:0px auto; width:60%;" name="signinForm">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" style="text-align:center;" data-ng-model="user.username" required/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" style="text-align:center;" data-ng-model="user.password" required/>
              </div>
              <button type="button" class="btn btn-default" style="display:table; margin: 0px auto;" ng-click="secondPage();">Sign in</button>
            </form>
            <div>
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="clickabla" style="display:table; margin: 0px auto;"><a href="#">Forgot your Password?</a></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
</div>
    <!-- second page -->
    <div ng-show="showSecondPage">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <table style="width:100%">
            <tr>
              <td style="width:5%; text-align: left">
                <img src="logo.jpg" style="width:60px;height:50px;">
              </td>
              <td style="width:45%; text-align: left">
                <h4 style="text-align: left;"> <b>InSure MEDApp</b> </h4>
              </td>
              <td style="width:45%; text-align: right">
                <h4 style="text-align: right;"> <b>Dr. Smith</b> </h4>
              </td>
              <td style="width:5%; text-align: right">
                <img src="doc.png" style="width:60px;height:50px;">
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-body">
          <!-- Table -->
				<table style="width:100%">

					<tr>
						<td style="width:40%; text-align: left">
							<div class="panel panel-default" style="max-height:20%; overflow-y: scroll;">
								<div class="panel-heading" >
									<h3 class="panel-title">Waiting List</h3>
								</div>
								<div class="panel-body" >
									<table style="width:100%" ng-controller="MainCtrl">
										<tr data-ng-repeat="c in patients | orderBy: 'name'">
											<td style="width:80%; text-align: left">
												<a href="http://127.0.0.1:8090/project3?nome=patID">{{c.name}}</a>
											</td>
											<td style="width:20%; text-align: right">
												{{c.policy_number}}
											</td>
										</tr>
									</table>
              </td>
              <td style="width:60%; text-align: right">
              <div class="panel panel-default" >
              <div class="panel-heading">
              <h3 class="panel-title">InSure Requests</h3>
              </div>
              <div class="panel-body">
              <table style="width:100%">
              <tr>
              <td style="width:40%; text-align: left ; fixed-panel">
              <div class="panel panel-warning">
              <div class="panel-heading">
              <h3 class="panel-title">Pending</h3>
              </div>
              <div class="panel-body">
              <table ng-controller="MainCtrl">
              <tr data-ng-repeat="c in requests | filter: {status:'PENDING'} | orderBy: 'reqID' ">
              <td style="width:40%; text-align: left">
              {{c.status}}
              </td>
              <td style="width:40%; text-align: right">
              {{c.reqID}}
              </td>
              </tr>
              </table>
              </td>
              </tr>
              <tr>
              <td style="width:40%; text-align: left">
              <div class="panel panel-success">
              <div class="panel-heading">
              <h3 class="panel-title">Approved</h3>
              </div>
              <div class="panel-body">
              <table ng-controller="MainCtrl">
              <tr data-ng-repeat="c in requests | filter: {status:'ACCEPTED'} | orderBy: 'reqID' ">
              <td style="width:40%; text-align: left">
              {{c.status}}
              </td>
              <td style="width:40%; text-align: right">
              {{c.reqID}}
              </td>
              </tr>
              </table>
              </td>
              </tr>
              <tr>
              <td style="width:40%; text-align: left">
              <div class="panel panel-danger">
              <div class="panel-heading">
              <h3 class="panel-title">Rejected</h3>
              </div>
              <div class="panel-body">
              <table ng-controller="MainCtrl">
              <tr data-ng-repeat="c in requests | filter: {status:'REJECTED'} | orderBy: 'reqID' ">
              <td style="width:40%; text-align: left">
              {{c.status}}
              </td>
              <td style="width:40%; text-align: right">
              {{c.reqID}}
              </td>
              </tr>
              </table>
              </td>
              </tr>
              </table>
              </div>
              </div>
              </td>
            </tr>
          </table>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- third page -->
<div ng-show="showThirdPage">
    <div class="panel panel-default">
    <div class="panel-heading">
      <table style="width:100%">
        <tr>
          <td style="width:5%; text-align: left">
            <img src="logo.jpg" style="width:60px;height:50px;">
          </td>
          <td style="width:45%; text-align: left">
            <h4 style="text-align: left;"> <b>InSure MEDApp</b> </h4>
          </td>
          <td style="width:45%; text-align: right">
            <h4 style="text-align: right;"> <b>Dr. Smith</b> </h4>
          </td>
          <td style="width:5%; text-align: right">
            <img src="doc.png" style="width:60px;height:50px;">
          </td>
        </tr>
      </table>
    </div>
    <table style="width:100%">
    </br></br>
    <tr>
      <td style="width:40%; text-align: left">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Patient Details</h3>
        </div>
        <div class="panel-body">
        <table class="table">
          <tr>
            <th class="#">Name</th>
            <td>bla</td>
          </tr>
          <tr>
            <th class="#">Policy</th>
            <td>13234</td>
          </tr>
        </table>
      </td>
      <td style="width:60%; text-align: left">
        <div class="panel panel-default" >
        <div class="panel-heading">
          <h3 class="panel-title">Medical Acts</h3>
        </div>
        <div class="panel-body">
        <table class="table">
          <tr>
            <th class="#">#</th>
            <th class="Type">Type</th>
            <th class="Costs">Costs</th>
            <th class="Percentages">Percentages</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Raio x</th>
            <td>1000</th>
            <td>falta botão</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Raio x</th>
            <td>1000</th>
            <td>falta botão</td>
          </tr>
        </table>

  </body>
</html>
